h1 {
	color: green;
	border-width: 3px;
	border-color: purple;
	border-style: solid;

}

h4 {
	color: red;
	background: rgb(255,100,80);
}

ul {
	size: 62px;
}

body {
	background: #95a5a6;
}
div {
	background: #3498db;
}

p{
	color: #ecf0f1;
}

body {
	/*background: url("wood_grain.jpg");
	background-repeat: no-repeat;
	background-size: cover;*/

}